*{
    box-sizing: border-box;
    
    }
    body{
        background:#f4f4f4;
        color:white;
        display:flex;
        align-items: center;
        justify-content: center;
        font-family: "RobotoP", sans-serif;
        margin:0;
        min-height: 100vh;
        font-size:20px; 
    }
    button{
        background-color: #fff;
        color:black;
        padding: 1rem;
        border-radius: 5px;
        border:none;
        font-family: inherit;
    }
    .popup-container{
        position:fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5);
        display:none;
        align-items: center;
        justify-content: center;
    }
    .popup-container.active{
        display: flex;
    }
    .popup{
        background-color: #fff;
        width:500px;
        color:black;
        position: relative;
        padding:3rem;
        border-radius: 5px;
    }
    .popup button{
        position:absolute;
        top:10px;
        right: 10px;
        font-size: 1.5rem ;
    }